body { background: radial-gradient(#222, #000); margin: 0; box-sizing: border-box; font-family: sans-serif;}
#abt-overlay, #proj-overlay {
    display: none; 
    position: fixed; 
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background: rgba(16, 17, 22, 0.85); z-index: 2000; 
    justify-content: center; 
    align-items: center;
}
.content { 
    margin: 40px;
    color: #FAFAFA; 
    background: radial-gradient(#13181c6d, #36454f6e, #a4a2a26d);  
    border-radius: 20px; 
    width: auto;
    height: auto;
    text-align: center; 
    list-style-type: none; 
}

img {width: 280px; height: 350px; border-radius: 50px;}

a {text-decoration: none; }
a:link { color: #FAFAFA;}
a:hover { text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);}
a:visited { color: #FAFAFA;}

td {padding: 10px;}

#abttable {
    width: 100%;
    list-style-type: none;
    table-layout: fixed;
    line-height: 20px;
}

#projtable {
    padding: 20px;
    width: 100%;
    line-height: 20px;
    list-style-type: none;
    table-layout: fixed;
}

@media (max-width: 600px) {
  #abttable td, #projtable td { 
    display: block; 
    width: 100%; 
  }
}

button { 
    cursor: pointer; 
    margin: 20px;
    padding: 10px 20px; 
    background: #36454F; 
    color: #FAFAFA; 
    border: none; 
    border-radius: 5px;
}

button:hover{
    box-shadow: 0 0 20px rgba(122, 120, 120, 0.8);
}